{{- $series := .Params.series -}}
{{- if $series -}}
  {{- $pages := where site.RegularPages "Params.series" "intersect" $series -}}
  {{- $pages = where $pages "Params.nav_exclude" "ne" true -}}
  {{- $pages = $pages.ByWeight -}}
  {{- $scratch := newScratch -}}
  {{- $scratch.Set "index" -1 -}}
  {{- range $i, $p := $pages -}}
    {{- if eq $p.File.Path $.File.Path -}}
      {{- $scratch.Set "index" $i -}}
    {{- end -}}
  {{- end -}}
  {{- $idx := $scratch.Get "index" -}}
  {{- if and (ge $idx 0) (gt (len $pages) 1) -}}
<nav class="paginav">
  {{- if gt $idx 0 -}}
    {{- $prev := index $pages (sub $idx 1) -}}
  <a class="prev" href="{{ $prev.Permalink }}">
    <span class="title">« 上一章</span>
    <br>
    <span>{{ default $prev.Title $prev.LinkTitle }}</span>
  </a>
  {{- end -}}
  {{- if lt $idx (sub (len $pages) 1) -}}
    {{- $next := index $pages (add $idx 1) -}}
  <a class="next" href="{{ $next.Permalink }}">
    <span class="title">下一章 »</span>
    <br>
    <span>{{ default $next.Title $next.LinkTitle }}</span>
  </a>
  {{- end -}}
</nav>
  {{- end -}}
{{- end -}}
